@model Secretaria.FrontEnd.ViewModels.Administracion.EditarUsuarioViewModel

@{
    ViewBag.Title = "Edit User";
    var photoPath = "/images/" + (Model.PathImagen ?? "noimage.jpg");
}

<div class="page-header">
    <div class="row align-items-center">
        <div class="col-auto">
            <h2 class="page-title">
                Editar Usuario
            </h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-lg">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Perfil</h3>
            </div>
            <div class="card-body">

                <form method="post" asp-controller="Administracion" asp-action="EditarUsuario">

                    <div class="row mb-3">
                        <div class="col-auto">
                            <span class="avatar avatar-lg" style="background-image: url(@photoPath)"></span>
                        </div>
                        <div class="col">
                            <div class="mb-2">
                                <label asp-for="NombreCompleto" class="form-label">Nombre</label>
                                <input asp-for="NombreCompleto" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-2">
                            <label asp-for="Email" class="form-label"></label>
                            <input asp-for="Email" class="form-control">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mb-2">
                        <label asp-for="UserName" class="form-label"></label>
                        <input asp-for="UserName" disabled class="form-control">
                    </div>
                    <div class="mb-2">
                        <label asp-for="PasswordHash" class="form-label">Contraseña</label>
                        <input asp-for="PasswordHash" disabled class="form-control">
                    </div>

                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-outline-primary"> Actualizar</button>
                            <a asp-action="Usuarios" class="btn btn-outline-primary"> Cancelar</a>
                        </div>
                    </div>

                    @*<img src="@photoPath" width="175" height="175" alt="" class="img-thumbnail rounded float-right">*@
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Acceso</h3>
            </div>
            <div class="card-body">
                <div class="mb-2">
                    <label asp-for="Id" class="form-label"></label>
                    <input asp-for="Id" disabled class="form-control">
                </div>
                <div class="mb-2">
                    <label asp-for="CreatedBy" class=" form-label">Creado</label>
                    <input asp-for="CreatedBy" disabled class="form-control">
                </div>
                <div class="mb-2">
                    <label asp-for="CreationDate" class=" form-label">Creación</label>
                    <input asp-for="CreationDate" disabled class="form-control">
                </div>
                <div class="mb-2">
                    <label asp-for="CreationIp" class="form-label">IP</label>
                    <input asp-for="CreationIp" disabled class="form-control">
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-md-6 col-lg">
        <div class="card">
            <div class="card-header">
                <h3>Roles</h3>
            </div>
            <div class="card-body">
                @if (Model.Roles.Any())
                {
                    foreach (var role in Model.Roles)
                    {
                        <span class="badge bg-indigo-lt" style="font-size: 1em;">@role</span>
                    }
                }
                else
                {
                    <span class="badge bg-gray-lt" style="font-size: 1em;">Ninguno</span>
                }
            </div>
            <div class="ml-3 mb-3">
                <a asp-action="AdministrarUsuarioRol" asp-route-userId="@Model.Id" class="btn btn-outline-primary"><i class="fad fa-tasks"></i> Administrar Roles</a>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg">
        <div class="card">
            <div class="card-header">
                <h3>Permisos</h3>
            </div>
            <div class="card-body">
                @if (Model.Claims.Any())
                {
                    foreach (var claim in Model.Claims)
                    {
                        <span class="badge bg-indigo-lt" style="font-size: 1em;">@claim</span>
                    }
                }
                else
                {
                    <span class="badge bg-gray-lt" style="font-size: 1em;">Ninguno</span>
                }
            </div>
            <div class="ml-3 mb-3">
                <a asp-action="AdministrarPermisosUsuario" asp-route-userId="@Model.Id" style="width:auto" class="btn btn-outline-primary"><i class="fad fa-tasks"></i> Administrar Permisos</a>
            </div>
        </div>
    </div>
</div>

