@model IEnumerable<Secretaria.Domain.Escuela.Alumno>

<div class="row">
    <div class="col-10">
        <h1 class="text-monospace">Alumnos</h1>
    </div>
</div>
<br>
@if (Model.Any())
{
    <table class="table table-bordered table-hover table-sm">
        <thead class="thead-dark">
            <tr>
                <th>Libro</th>
                <th>Folio</th>
                <th>Numero de Documento</th>
                <th>Nombre</th>
                <th>Apellido</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var alumno in Model)
            {
                <tr>
                    <td>@alumno.Libro</td>
                    <td>@alumno.Folio</td>
                    <td>@alumno.NroDocumento</td>
                    <td>@alumno.Persona.Nombre</td>
                    <td>@alumno.Persona.Apellido</td>
                </tr>
            }
        </tbody>
    </table>
}
<br>

<div class="form-group col-6">
    <a role="button" asp-action="RegistrarAlumno" class="btn btn-outline-primary">Registrar Alumno</a>
</div>
