@model Secretaria.Domain.Escuela.Alumno

<div class="row">
    <div class="col-10">
        <h1 class="text-monospace">Registro de alumno</h1>
    </div>
</div>

<br>
<br>
<h2>Alumno</h2>
<form asp-controller="Alumno" asp-action="Registrar" method="post">
    <div class="row">
        <div class="form-group col-md-2">
            <label >Libro</label>
            <input asp-for="Libro" type="text" class="form-control" required >
        </div>
        <div class="form-group col-md-2">
            <label >Folio</label>
            <input asp-for="Folio" type="text" class="form-control" required >
        </div>
        <div class="form-group col-md-4">
            <label>Nombre</label>
            <input asp-for="Persona.Nombre" type="text" class="form-control" required>
        </div>
        <div class="form-group col-md-4">
            <label>Apellido</label>
            <input asp-for="Persona.Apellido" type="text" class="form-control" required>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="form-group col-md-1">
            <label >Año</label>
            <select asp-for="CursoActual.Anio" type="text" class="form-control" required >
                <option selected>1</option>
                    @* @foreach (var tipoDocumento in @ViewBag.tipoDocumentos)
                    {
                        <option value="@tipoDocumento.Id">@tipoDocumento.Cadena</option>
                    } *@
            </select>
        </div>
        <div class="form-group col-md-1">
            <label >División</label>
            <select asp-for="CursoActual.Division" type="text" class="form-control" required >
                <option selected>4</option>
                    @* @foreach (var tipoDocumento in @ViewBag.tipoDocumentos)
                    {
                        <option value="@tipoDocumento.Id">@tipoDocumento.Cadena</option>
                    } *@
            </select>
        </div>
        <div class="form-group col-md-3">
            <label >Tipo de documento</label>
            <select asp-for="Persona.TipoDocumento.Id" type="text" class="form-control" required >
                <option selected>Seleccione</option>
                    @foreach (var tipoDocumento in @ViewBag.tipoDocumentos)
                    {
                        <option value="@tipoDocumento.Id">@tipoDocumento.Cadena</option>
                    }
            </select>
        </div>
        <div class="form-group col-md-3">
            <label >Documento</label>
            <input asp-for="Persona.NroDocumento" type="text" class="form-control" required >
        </div>
        <div class="form-group col-md-2">
            <label>Fecha de nacimiento</label>
            <input asp-for="Persona.Nacimiento" type="date" class="form-control" required>
        </div>   
        <div class="form-group col-md-2">
            <label >Nacionalidad</label>
            <select asp-for="Persona.Nacionalidad.Id" type="text" class="form-control" required >
                <option selected>Seleccione</option>
                @foreach (var nacionalidad in @ViewBag.nacionalidades)
                {
                    <option value="@nacionalidad.Id">@nacionalidad.Cadena</option>
                }
            </select>
        </div> 
    </div>
    <br>

    <h2>Domicilo</h2>

    <div class="row">
        <div class="form-group col-md-5">
            <label>Localidad</label>
            <select asp-for="Persona.Domicilio.Localidad.Id" type="text" class="form-control" required>
                <option selected>Seleccione</option>
                @foreach (var localidad in @ViewBag.localidades)
                {
                    <option value="@localidad.Id">@localidad.Cadena</option>
                }
            </select>
        </div>
        <div class="form-group col-md-4">
            <label>Calle</label>
            <input asp-for="Persona.Domicilio.Calle" type="text" class="form-control" required>
        </div>
        <div class="form-group col-md-3">
            <label>Altura</label>
            <input asp-for="Persona.Domicilio.Altura" type="text" class="form-control" required>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="form-group col-md-5">
            <label>Depto</label>
            <input asp-for="Persona.Domicilio.Departamento" type="text" class="form-control" required>
        </div>
        <div class="form-group col-md-3">
            <label>Piso</label>
            <input asp-for="Persona.Domicilio.Piso" type="text" class="form-control" required>
        </div>
        <div class="form-group col-md-4">
            <label>Codigo Postal</label>
            <input asp-for="Persona.Domicilio.CodigoPostal" type="zip" class="form-control" required>
        </div>
    </div>
    
    <br>
    <div class="form-group">
        <textarea asp-for="Persona.Domicilio.observacionDomicilio" placeholder="Observaciones de Domicilio..." class="form-control" rows="4"></textarea>
    </div>
    <br>
    
    <h2>Contacto</h2>

    <div class="form-group col-md-6">
        <label>Correo electronico</label>
        <input asp-for="Persona.Mail" type="email" class="form-control" required>
    </div>
    <br>
    
    <div class="row">
        <div class="form-group col-md-6">
            <label>Telefono</label>
            <input asp-for="Persona.Telefono1" type="text" class="form-control" required>
        </div>
        <div class="form-group col-md-6">
            <label>Telefono adicional</label>
            <input asp-for="Persona.Telefono2" type="text" class="form-control">
        </div>
    </div>
    <br>
    @* <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
            Revisar
            </label>
        </div>
    </div> *@

    <input type="submit" class="btn btn-primary" value="Registrar alumno">

</form>