@model Secretaria.Domain.DatosPersonales.Nacionalidad
<div class="row">
    <div class="col-10">
        <h1 class="text-monospace">Tipo de Documento</h1>
    </div>
</div>
<br />
<form asp-action="Index" method="post">
    <div class="row">
        <div class="form-group col-md-6">
          <input asp-for="Cadena" type="text" data-table="order-table" placeholder="Tipo de documento" class="form-control light-table-filter" required />
        </div>
        <div class="form-group col-md-1">
          <input type="submit" class="btn btn-outline-primary" value="Agregar"/>
        </div>
        <div class="form-group col-md-3">
          <a asp-controller="Home" asp-action="Index" role="button" class="btn btn-outline-secondary">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-backspace" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M6.603 2h7.08a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-7.08a1 1 0 0 1-.76-.35L1 8l4.844-5.65A1 1 0 0 1 6.603 2zm7.08-1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-7.08a2 2 0 0 1-1.519-.698L.241 8.65a1 1 0 0 1 0-1.302L5.084 1.7A2 2 0 0 1 6.603 1h7.08zM5.829 5.146a.5.5 0 0 0 0 .708L7.976 8l-2.147 2.146a.5.5 0 0 0 .707.708l2.147-2.147 2.146 2.147a.5.5 0 0 0 .707-.708L9.39 8l2.146-2.146a.5.5 0 0 0-.707-.708L8.683 7.293 6.536 5.146a.5.5 0 0 0-.707 0z"/>
            </svg>
          </a>      
        </div>
    </div>
</form>
<br/>
<table class="table table-bordered table-hover table-sm order-table">
  <thead class="thead-dark">
      <tr>
          <th class="text-center">Tipo de Documento</th>
          <th class="text-center">Accion</th>
      </tr>
  </thead>
  <tbody>
      @foreach (var tipoDocumento in @ViewBag.tipoDocumentos)
      {
        <tr>
          <td class="col-6">@tipoDocumento.Cadena</td>
          <td>
            <div class="col-md-12 bg-light text-right">
              <button class="btn btn-danger" data-toggle="modal" data-target="#modEliminar-@tipoDocumento.Id">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
              </button>
              <button class="btn btn-warning" type="reset" data-toggle="modal" data-target="#modEditar-@tipoDocumento.Id"> 
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
              </button>
            </div>
            @* ELIMINAR *@
            <div class="modal fade" id="modEliminar-@tipoDocumento.Id" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Eliminar Tipo de Documento</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>                                        
                  <div class="modal-body">
                    <div class="alert alert-danger" role="alert">
                      !Esta seguro de eliminar el tipo de documento: @tipoDocumento.Cadena!
                    </div>
                  </div>
                  <div class="modal-footer">
                    <form asp-action="EliminarTipoDocumento" asp-route-id="@tipoDocumento.Id" method="get">
                      <input type="submit" class="btn btn-success" value="Si ">
                      <input type="button" class="btn btn-danger" data-dismiss="modal" value="No">
                    </form>
                  </div>
                </div>
              </div>
            </div>
            @* EDITAR *@
            <div class="modal fade" id="modEditar-@tipoDocumento.Id" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Editar Tipo de Documento</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                        <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                      </svg>
                    </button>
                  </div>                                        
                  <div class="modal-body">
                    <div class="alert alert-warning" role="alert">
                      ¿Esta seguro de guardar los cambios para @tipoDocumento.Cadena?
                    </div>
                    <form asp-action="EditarTipoDocumento" asp-route-id="@tipoDocumento.Id" method="post">
                      <div class="form-row">
                        <div class="form-group col-10">
                          <input asp-for="Cadena" type="text" placeholder="Ingrese nuevo nombre..." class="form-control" required/>
                        </div>
                      </div>
                      <hr>
                      <div class="btn-group">
                        <input type="submit" class="btn btn-success" value="Guardar">
                        <input type="button" class="btn btn-danger" data-dismiss="modal" value="Carcelar">
                      </div>
                    </form>
                </div>
              </div>
            </div> 
          </td>
        </tr>
      }
  </tbody>
</table>
